<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="lemon_wallpaper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="lemon_wallpaper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup>
    <userSettings>
        <lemon_wallpaper.Properties.Settings>
            <setting name="img_source" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="img_save_path" serializeAs="String">
                <value/>
            </setting>
            <setting name="img_expire_time" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="img_update_time" serializeAs="String">
                <value/>
            </setting>
            <setting name="img_save_path_prefix" serializeAs="String">
                <value>wallpaper</value>
            </setting>
            <setting name="label_update_time" serializeAs="String">
                <value/>
            </setting>
            <setting name="job_run_unit" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="img_history" serializeAs="String">
                <value/>
            </setting>
            <setting name="img_history_current_index" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="app_first_run" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="app_url" serializeAs="String">
                <value>https://github.com/DongyangHu/lemon-wallpaper</value>
            </setting>
        </lemon_wallpaper.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <lemon_wallpaper.Properties.Settings>
            <setting name="img_history_count" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="img_change_prompt" serializeAs="String">
                <value>没有更多的壁纸了</value>
            </setting>
            <setting name="app_version" serializeAs="String">
                <value>V1.0.0</value>
            </setting>
            <setting name="regedit_key" serializeAs="String">
                <value>LemonWallpaper</value>
            </setting>
        </lemon_wallpaper.Properties.Settings>
    </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
