<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="asyncFile" xsi:type="AsyncWrapper">
      <target name="log_file" xsi:type="File"
      fileName="logs/${level}-${shortdate}.txt"
			layout="${longdate} ${level} [${logger}] --- ${message} ${onexception:${exception:format=message} ${newline} ${stacktrace} ${newline}"
      archiveFileName="logs/archives/${level}-${shortdate}-{#####}.txt"
      archiveAboveSize="20Mb"
      maxArchiveDays="5"
      maxArchiveFiles="20"
      archiveNumbering="Sequence"
      concurrentWrites="true"
      keepFileOpen="false" />
    </target>
    <target name="colorConsole" xsi:type="ColoredConsole" layout="[${date:format=HH\:mm\:ss}]:${message} ${exception:format=message}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="asyncFile" />
    <logger name="*" minlevel="Info" writeTo="colorConsole" />
  </rules>
</nlog>
